AtividadeIntegradoraVII/Dominio/Entidades/PessoaProjeto.cs
AtividadeIntegradoraVII/Dominio/obj/Debug/Dominio.csproj.FileListAbsolute.txt
AtividadeIntegradoraVII/Infra/obj/Debug/build.force
AtividadeIntegradoraVII/Web.MVC/obj/Debug/build.force
AtividadeIntegradoraVII/Web.MVC/Web.MVC.csproj
